/{ 
    lcd {
        compatible = "ilitek,ili9341-8080-8bit";
        status = "okay";

        rst-gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;     // LCD_RST reset
        cs-gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;      // LCD_CS chip select
        rs-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;     // LCD_RS register set (1 = data, 0 = command)
        wr-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;      // LCD_WR write
        rd-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;      // LCD_RD read

        data-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>, // LCD Data Bit 0
                    <&gpio1 11 GPIO_ACTIVE_HIGH>,  // LCD Data Bit 1
                    <&gpio1 3 GPIO_ACTIVE_HIGH>,   // LCD Data Bit 2
                    <&gpio1 4 GPIO_ACTIVE_HIGH>,   // LCD Data Bit 3
                    <&gpio1 5 GPIO_ACTIVE_HIGH>,   // LCD Data Bit 4
                    <&gpio1 6 GPIO_ACTIVE_HIGH>,   // LCD Data Bit 5
                    <&gpio1 7 GPIO_ACTIVE_HIGH>,   // LCD Data Bit 6
                    <&gpio1 8 GPIO_ACTIVE_HIGH>;   // LCD Data Bit 7
    };
};

&spi1 {
    status = "disabled";
};

&spi2 {
    status = "disabled";
};

&spi3 {
    status = "disabled";
};